.About {
  /* display: flex; */
  background-color: rgb(8, 3, 41);
  justify-content: space-around;
  padding: 3rem;
}
.About-Me {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.Me {
    color: #0066cc;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.para-me {
  color: #555;
  justify-content: center;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.About-Cards {
  display: flex;
  padding: 1.5rem 1.1rem;
  text-align: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background: rgb(18, 13, 32);
  color: white;
  border-radius: 10px;
  padding: 25px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-icon {
  font-size: 2.5rem;
  color: #0066cc;
  margin-bottom: 15px;
}
.card h2 {
  font-size: 1.5rem;
  color: #0066cc;
  margin-bottom: 10px;
}
.card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  padding-bottom: 16px;
}
