* {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
   padding: 1rem 3.58rem;
    background-color:rgb(18, 13, 32);
    color: white;
    text-decoration: none;
}
.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    gap: 0.8rem;
    justify-content: space-evenly;
    font-size: 1rem;
    
}
.nav-links li {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.nav-links  a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.nav-links  a:hover {
    color: rgb(216, 112, 38);
}